{# src/Sdz/BlogBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Blog</h1>

    <hr>

    {% block sdzblog_body %}
    {% endblock %}

{% endblock %}