{# src/Sdz/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}

    {# S'il y a une erreur, on l'affiche #}
    {% if error %}
        <div class="alert alert-danger" xmlns="http://www.w3.org/1999/html">{{ error.message }}</div>
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route "login_check" #}
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <br />
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password"/>
        <br />
        <input type="submit" value="Connexion">
    </form>

{% endblock %}
