{# src/Sdz/BlogBundle/Resources/views/Blog/supprimer.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}
	Supprimer un article - {{ parent() }}
{% endblock %}
   
{% block sdzblog_body %}

    <h2>Supprimer un article</h2>
        
    {% include "SdzBlogBundle:Blog:formulaire.html.twig" %}

    <p>
    	Vous supprimez un article
    </p>
        
	<p>
		<a href="{{ path('sdzblog_accueil') }}" class="btn"><i class="icon-chevron-left"></i>Retour à la liste</a>
	</p>
		
{% endblock %}
