{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma permière page !</title>
    </head>
	<body>
		<h1>Hello World !</h1>
		<h2>Welcome {{ nom }}</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum, arcu id sagittis fermentum, tellus nisi molestie risus, ac auctor lorem orci et libero. Nam euismod faucibus sem sit amet imperdiet. Cras ac ultrices velit. Nullam convallis risus nulla, id feugiat elit hendrerit in. Etiam non purus id urna accumsan euismod. Nulla tempus ligula non augue tincidunt, at ultrices nisi hendrerit. Quisque at elit et magna lacinia dignissim.</p>
	</body>
</html>